[submodule "prebuilts"]
	path = prebuilts
	url = https://git.trustedfirmware.org/hafnium/prebuilts
	shallow = true
[submodule "project/reference"]
	path = project/reference
	url = https://git.trustedfirmware.org/hafnium/project/reference
	shallow = true
[submodule "third_party/dtc"]
	path = third_party/dtc
	url = https://git.trustedfirmware.org/hafnium/third_party/dtc
	shallow = true
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://git.trustedfirmware.org/hafnium/third_party/googletest
	shallow = true
