out/
.repo/
docs/build
.venv

# Ignore project/ subfolders which are not part of the public Hafnium tree.
# When these are checked out using a `repo` manifest Git otherwise treats them
# as untracked files and the repository as dirty.
!project/
project/*/
!project/reference/

# Ctags
tags

# Used to pin dependencies by Poetry tool
poetry.lock
